{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{profile_user.username}}'s profile</h3>
 
    <h3>Upload Your Images</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.email }}  
        {{ form.images }} 
        <button type="submit">Upload</button>
    </form>

    <h2>My Images</h2>
    <div style="display:flex; flex-wrap:wrap; gap:10px;">
        {% for img in images %}
            <img src="{{ img.images.url }}" alt="Image" width="200">
        {% empty %}
            <p>No images uploaded yet.</p>
        {% endfor %}
    </div>
</div>
</body>
</html>