<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
    <h2>welcome {{user.username}}</h2>
    <p><a href="{% url "profileUser" id=user.id %}"> Access your profile page</a></p>  
    <p><a href="{%url "logoutUser"%}">logout</a></p>  
    {% else %}
    <h2>Welcome to IOT door openner </h2>
    <p><a href="{% url "loginUser"%}">Login </a></p>
    <p><a href="{% url "registerUser"%}">Create a account</a></p>
    
    

    {% endif %}  
</body>
</html>